{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>IMV</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	</head>
	<body>
		<section class="section">
			<div class="container">
				<h1 class="title"></h1>
				<div class="block">
					<!--- 23 Componente: <strong>Menu </strong>.--->
					<nav class="navbar" role="navigation" aria-label="main navigation">
							<div class="navbar-brand">
								<a class="navbar-item" href="https://bulma.io">
									<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
								</a>
				
								<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
									<span aria-hidden="true"></span>
									<span aria-hidden="true"></span>
									<span aria-hidden="true"></span>
								</a>
							</div>
				
							<div id="navbarBasicExample" class="navbar-menu">
								<div class="navbar-start">
									<a class="navbar-item">
										Home
									</a>
				
									<a class="navbar-item">
										Documentation
									</a>
				
									<div class="navbar-item has-dropdown is-hoverable">
										<a class="navbar-link">
											More
										</a>
				
										<div class="navbar-dropdown">
												<a class="navbar-item">
												About
												</a>
												<a class="navbar-item">
												Jobs
												</a>
												<a class="navbar-item">
												Contact
												</a>
												<hr class="navbar-divider">
												<a class="navbar-item">
												Report an issue
												</a>
										</div>
									</div>
								</div>
				
								<div class="navbar-end">
									<div class="navbar-item">
										<div class="buttons">
												<a class="button is-primary">
												<strong>Sign up</strong>
												</a>
												<a class="button is-light">
												Log in
												</a>
										</div>
									</div>
								</div>
							</div>
					</nav>
				</div>

				<div class="block">
					<!--- 32 Componente: <strong>Cajas de Info <br></strong> --->
				   
				   <!---Activamos cuando hay algun error
					   <div class="notification is-danger">
							 <button class="delete"></button>
							 TEXTO de ERROR 
					   </div>
				   --->
				   
					   <article class="message is-info">
							 <div class="message-header">
								   Info
								   <button class="delete"></button>
							 </div>
							 <div class="message-body">
							   <!--- TEXTO --->
							   <div class="block">
									 <!---5 Componente: <strong>Barras de Progreso </strong>.--->
								   Progreso conseguido
								   <progress class="progress is-warning" value="75" max="100">75%</progress>
				   <!--- Activamos cuando estamos pensando
								   <progress class="progress is-small is-primary" max="100">15%</progress>
				   --->
							   </div>
				   
							 </div>
					   </article>
				   
				</div>

				<div class="block">
					<!--- 18 Componente: <strong>Marcos <br></strong> --->
				  
					  
					<div class="tile is-ancestor">
				<!--- Aqui podemos modificar el tamaño de los marcos  is-8 --->
						<div class="tile is-vertical is-8">
								<div class="tile">
								<div class="tile is-parent is-vertical">
									<form action="" method="post">

										<article class="tile is-child notification is-primary">
											<p class="subtitle">Seleccionar la dirección provincial de la Seguridad Social a la que se dirige la reclamación</p>
											<p></p>
											<div class="select">
												<select name="direccion_provincial">
													<option>La Rioja</option>
													<option>Madrid</option>
													{% for file in listSim %}
													<option name=direccion_provincial value="{{file}}" SELECTED>{{file}}</option>
													{% endfor %}
												</select>
											  </div>
										</article>

										<article class="tile is-child notification is-info">
											<p class="title">Identificación del reclamador</p>
											<div class="block">
												<div class="block">
													<div class="field">  								
														<input class="input is-rounded" type="text" placeholder="NOMBRES Y APELLIDOS DEL RECLAMANTE" name="NOMBRE" value="{{request.form.NOMBRE}}">
													</div>
													<div class="field">  								
														<input class="input is-rounded" type="text" placeholder="NÚMERO DE DOCUMENTO DE IDENTIFICACIÓN" name="NUMERO_DOCUMENTO" value="{{request.form.NUMERO_DOCUMENTO}}">
													</div>
													<div class="field">  								
														<input class="input is-rounded" type="text" placeholder="DOMICILIO" name="DOMICILIO" value="{{request.form.DOMICILIO}}">
													</div>
													<div class="field">  								
														<input class="input is-rounded" type="text" placeholder="TELÉFONO" name="TELÉFONO" value="{{request.form.TELÉFONO}}">
													</div>
													<div class="field">  								
														<input class="input is-rounded" type="text" placeholder="CORREO ELECTRÓNICO" name="CORREO" value="{{request.form.CORREO}}">
													</div>
												</div>
											</div>
										</article>
										
										<article class="tile is-child notification is-primary">
											<p class="subtitle">Reclamaciones solicitadas</p>
											<div class="block">
												Reclamaciones solicitadas <strong>Seleccion multiple <br></strong>
											<p></p>
											<div class="select is-multiple">
												<select name="Reclamaciones" multiple size="3">
													<option value="IngresosSuperiores">Ingresos superiores</option>
													<option value="ViviendaHabitual">Vivienda habitual</option>
													<option value="RectificaciónCuantía">Rectificación cuantía</option>
													{% for file in listSim %}
													<option name=Reclamaciones value="{{file}}">{{file}}</option>
													{% endfor %}
												</select>
												</div>
										</article>
									</article>
									<article class="tile is-child notification is-warning">
											<p class="title">Información de la notificación</p>
										  <div class="block">
			  Número de expediente de la resolucion reclamada
												<input class="input is-rounded" type="text" placeholder="Número de expediente " name="expediente" value="{{request.form.expediente}}">
										  </div>
			  
										  <div class="block">
			  
			  Fecha de la notificación de la resolucion reclamada
												<input class="input is-rounded" type="date" placeholder="Notificación" name="fecha_Notificación" value="{{request.form.fecha_Notificación}}">
										  </div>
			  
										  <div class="block">
			  Fecha de la emisión de la resolucion reclamada
												<input class="input is-rounded" type="date" placeholder="Emisión" name="fecha_Emisión" value="{{request.form.fecha_Emisión}}">
										  </div>
			  
			  Correcto
								  </article>
									
								  <article class="tile is-child notification is-danger">
									<p class="title">Evidencias presentadas</p>
		
										
		
		
										<div class="control">
												<label class="checkbox">
												  <input type="checkbox" name="irpf" value="{{request.form.irpf}}">
													  La declaración del Impuesto sobre la Renta de Personas Físicas correspondiente al ejercicio anterior.
												</label>
										  </div>        					
		
										<div class="control">
												<label class="checkbox">
												  <input type="checkbox" name="saldo" value="{{request.form.saldo}}">
													  Los estados de cuenta bancaria correspondientes al ejercicio anterior.
												</label>
										  </div>        					
		
										<div class="control">
												<label class="checkbox">
												  <input type="checkbox" name="sueldo" value="{{request.form.sueldo}}">
													  Los documentos de pago emitidos por mi empleador durante el ejercicio anterior.
												</label>
										  </div>   
		
										<div class="control">
												<label class="checkbox">
												  <input type="checkbox" name="patrimonio" value="{{request.form.patrimonio}}">
													  Información del registro mercantil sobre inexistencia de patrimonio.
												</label>
										  </div>    
										<div class="content">
										<!--- Metemos el checkbox de terminos y condiciones --->
										  	<div class="field">
										  		<div class="control">
													<label class="checkbox">
												  		<input type="checkbox" name="terminos" value="{{request.form.terminos}}">
													  	Estoy de acuerdo con <a href="#">los terminos y condiciones</a>
													</label>
										  		</div>
											</div>
										</div>
							  </article>



							  <div class="tile is-parent">
								<article class="tile is-child notification is-success">
								  <div class="content">
										<p class="title">Documento generado</p>
				<!---        				<p class="subtitle">  Aqui ponemos el PDF o foto del progreso del documento</p>  --->
										<div class="content">
				<!---						<figure class="image is-4by3">
												<img src="https://bulma.io/images/placeholders/640x480.png">
											  </figure>
				--->
										
				



				<div class="buttons">
					<button class="button is-info" type="submit" value="Enviar">Generar</button>
				</div>


					  <object
						data='c:\proyectoIMV\IMV\ingresos superiores.pdf'
						type="application/pdf"
						width="500"
						height="678"
					  >
				
						<iframe
						  src='c:\proyectoIMV\IMV\ingresos superiores.pdf'
						  width="500"
						  height="678"
						>
						<p>This browser does not support PDF!</p>
						</iframe>
					  </object>
					</div>
				
				
				



									

						</div>
					</article>
						
									
									</form>
				
									
					</div>
				</div>
			
		</section>
	</body>
</html>
{% endblock %}
